

.nav{
display:flex;
justify-content:space-around;
border:2pxsolidblack;
background-color:brown;
padding:10px10px;
}

.nav a{
color:rgb(255,255,255);
text-decoration:none;
}

.filter{
display:flex;
justify-content:space-between;
align-items:center;
width:50%;
margin:20pxauto;
padding:10px;
}

select{
padding:5px;
width:30%;
}

select:focus{
outline:none;
}

.product{
width:80%;
margin:auto;
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
}

.product>div{
box-shadow:rgba(0,0,0,0.24)0px3px8px;
padding:20px;
border-radius:8px;
}

.product>div>img{
width:100%;
}

.btn{
display:flex;
justify-content:space-between;
width:20%;
margin:30pxauto;
border:0pxsolidblack;
}

.btn>button{
border:none;
font-size:25px;
padding:15px;
border-radius:8px;
box-shadow:rgba(0,0,0,0.24)0px3px8px;
transition:all.3sease-in-out;
cursor:pointer;
position:relative;
}

.btn>button:hover{
transition-duration:0.1s;
}

.btn>button:after{
content:"";
display:block;
position:absolute;
border-radius:8px;
left:0;
top:0;
width:100%;
height:100%;
opacity:0;
transition:all0.3sease-in-out;
box-shadow:0010px40pxrgb(230,121,121);
}

.btn>button:active:after{
box-shadow:0000rgb(103,102,102);
position:absolute;
border-radius:8px;
left:0;
top:0;
opacity:1;
transition:0s;
}

.btn>button:active{
top:1px;
}





/*---------------------------------mediumscreen----------------------------*/


@media all and(min-width:768px)and(max-width:1024px){
.product{

grid-template-columns:repeat(2,1fr);

}


}

/*---------------------------------smallscreen----------------------------*/


@media all and(min-width:375px)and(max-width:767px){
.product{

grid-template-columns:repeat(1,1fr);

}


}